Repository heartnotation/heartnotation, pull requests merged in 2019-03, with the labels that each got.

#306 283 protection admin change role
  back/src/restapi/managers/user.go
  front/src/pages/EditUserForm.tsx
  front/src/pages/Users.tsx
Labels: Back, Fix, Front

#316 297 legende tags
  front/src/assets/styles/App.css
  front/src/pages/SignalAnnotation.tsx
  front/src/pages/Users.tsx
Labels: Front

#319 284 comments order
  db/init/init.sql
  front/src/fragments/chatAnnotation/CommentChatAnnotation.tsx
  front/src/fragments/signalAnnotation/FormIntervalSignalAnnotation.tsx
  front/src/pages/SignalAnnotation.tsx
Labels: BDD, Back, Fix, Front

#326 changed logo for annotation comment
  front/src/assets/images/Message.tsx
  front/src/fragments/chatAnnotation/ChatDrawerAnnotation.tsx
  front/src/fragments/chatAnnotation/CommentChatAnnotation.tsx
Labels: Front

#329 fixed css bug with some resolutions
  front/src/assets/styles/App.css
Labels: Front
