Repository heartnotation/heartnotation, pull requests merged in 2019-02, with the labels that each got.

#27 26 add gitignore
  .gitignore
Labels: Back

#39 Ajout des tests unitaires
  front/package-lock.json
  front/package.json
  front/src/App.tsx
  front/src/fragments/Header.test.tsx
  front/src/fragments/Header.tsx
Labels: Front

#46 16 template tableaux
  front/package-lock.json
  front/src/App.tsx
  front/src/Routes.tsx
  front/src/assets/styles/App.css
  front/src/class/Annotation.tsx
  front/src/pages/Dashboard.tsx
  front/tslint.json
Labels: Front

#47 add gorm to project
  .env
  back/src/restapi/Gopkg.lock
  back/src/restapi/Gopkg.toml
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/annotation/annotationModel.go
  back/src/restapi/organization/organizationModel.go
  back/src/restapi/user/userModel.go
  back/src/restapi/utils/database.go
  back/src/restapi/utils/http.go
  docker-compose.yml
Labels: BDD, Back

#48 36 critique bdd fix
  db/init/init.sql
  scriptBDD.sh
Labels: BDD

#52 add .dockerignore to not share dependencies with container
  back/.dockerignore
Labels: Back

#58 init correction
  db/init/init.sql
Labels: BDD

#78 Corrections supplémentaires sur la bdd
  db/init/init.sql
Labels: BDD

#83 update fix gitignore
  front/src/pages/CreateAnnotationForm.tsx
Labels: Front

#82 8 create annotation road
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/annotation/annotationModel.go
  back/src/restapi/organization/organizationModel.go
  back/src/restapi/user/userModel.go
  back/src/restapi/utils/database.go
Labels: Back

#85 id_parent -> parent_id
  db/init/init.sql
Labels: BDD

#102 change travis.yml to deploy on merge requests on master acceptance
  .travis.yml
Labels: Pas code

#113 54 integration back form create annotation
  docker-compose.yml
  front/src/pages/CreateAnnotationForm.tsx
  front/src/utils/index.tsx
Labels: Front

#124 63 route delete annotation
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/main.go
Labels: Back

#123 [116] resolve route conflicts
  front/src/App.tsx
  front/src/Routes.tsx
  front/src/assets/images/loading.gif
  front/src/pages/SignalAnnotation.tsx
  front/src/tests/Header.test.tsx
Labels: Front, bug

#88 add parameter for api url
  back/src/restapi/Gopkg.lock
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/annotation/annotationModel.go
Labels: Back

#132 Ajout de tests pour le composant Dashboard
  front/package.json
  front/src/App.tsx
  front/src/class/Annotation.tsx
  front/src/pages/CreateAnnotationForm.tsx
  front/src/pages/Dashboard.tsx
  front/src/pages/Home.jsx
  front/src/tests/Dashboard.test.tsx
  front/src/tests/TagCreation.test.tsx
  front/src/tests/Tags.test.tsx
  front/src/tests/UserCreation.test.tsx
  front/src/tests/Users.test.tsx
  front/src/tests/mocks/annotations.json
  front/src/utils/api.ts
  front/src/utils/index.tsx
Labels: Front, Test

#135 54 Liaison entre front et back terminé pour la création d'annotation
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/annotation/annotationModel.go
  back/src/restapi/utils/http.go
  db/init/init.sql
  front/src/pages/CreateAnnotationForm.tsx
Labels: Back, Front

#164 18 fix title page issue
  front/src/App.tsx
  front/src/Routes.tsx
  front/src/fragments/Header.tsx
  front/src/tests/Dashboard.test.tsx
  front/src/tests/Header.test.tsx
Labels: Front

#172 105 route ajout interval
  back/src/restapi/interval/intervalManager.go
  back/src/restapi/interval/intervalManager_test.go
  back/src/restapi/interval/intervalModel.go
  back/src/restapi/main.go
  db/init/init.sql
Labels: Back

#179 route ajout interval - update back tests - maj CDCT
  .travis.yml
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/annotation/annotationManager_test.go
  back/src/restapi/interval/intervalManager.go
  back/src/restapi/interval/intervalManager_test.go
  back/src/restapi/interval/intervalModel.go
  back/src/restapi/main.go
  back/src/restapi/organization/organizationManager.go
  back/src/restapi/organization/organizationManager_test.go
  back/src/restapi/signal/signalManager.go
  back/src/restapi/signal/signalModel_test.go
  back/src/restapi/tag/tagManager.go
  back/src/restapi/tag/tagManager_test.go
  back/src/restapi/user/userManager.go
  back/src/restapi/user/userManager_test.go
  back/src/restapi/utils/test.go
  front/src/tests/Users.test.tsx
  front/src/tests/mocks/users.json
Labels: Back, Pas code, Test

#190 80 gerer auth google
  .travis.yml
  back/.gitignore
  back/src/restapi/Gopkg.lock
  back/src/restapi/Gopkg.toml
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/auth/auth.go
  back/src/restapi/auth/authModel.go
  back/src/restapi/main.go
  db/init/init.sql
  docker-compose.yml
  front/Dockerfile
  front/package-lock.json
  front/package.json
  front/src/App.tsx
  front/src/index.tsx
  front/src/utils/api.ts
  front/src/utils/auth.tsx
  front/src/utils/index.ts
  front/tslint.json
Labels: Back, Front

#210 189 fix annotation page
  front/config-overrides.js
  front/package-lock.json
  front/package.json
  front/src/assets/styles/App.css
  front/src/fragments/chatAnnotation/ChatDrawerAnnotation.tsx
  front/src/fragments/chatAnnotation/CommentChatAnnotation.tsx
  front/src/fragments/signalAnnotation/HeaderSignalAnnotation.tsx
  front/src/pages/Dashboard.tsx
  front/src/pages/SignalAnnotation.tsx
  front/src/pages/Users.tsx
Labels: Front

#223 60 formulaire d'edit annotation
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/annotation/annotationModel.go
  front/src/App.tsx
  front/src/assets/styles/App.css
  front/src/pages/Dashboard.tsx
  front/src/pages/EditAnnotationForm.tsx
  front/src/utils/api.ts
  front/src/utils/objects.ts
Labels: Back, Front

#225 217 - ajout de la colonne organization dans le dashboard
  front/src/pages/Dashboard.tsx
Labels: Front

#233 214 no self modification
  back/src/restapi/user/userManager.go
  front/src/pages/EditUserForm.tsx
  front/src/pages/Users.tsx
Labels: Back, Front

#234 232 remplacer id signal
  back/src/restapi/annotation/annotationManager.go
  back/src/restapi/annotation/annotationModel.go
  back/src/restapi/signal/signalModel.go
  db/init/init.sql
  front/src/pages/CreateAnnotationForm.tsx
  front/src/pages/Dashboard.tsx
  front/src/pages/SignalAnnotation.tsx
  front/src/utils/objects.ts
Labels: BDD, Back, Front

#249 remove auto preload from routes and check if active
  back/src/restapi/managers/enumStatus.go
  back/src/restapi/managers/tag.go
  back/src/restapi/models/tag.go
Labels: Back

#248 244 verif route users
  Postman.json
  back/src/restapi/managers/role.go
  back/src/restapi/managers/user.go
Labels: Back

#257 150 brancher comment interval
  back/src/restapi/dtos/annotationComment.go
  back/src/restapi/dtos/interval.go
  back/src/restapi/dtos/intervalComment.go
  back/src/restapi/main.go
  back/src/restapi/managers/annotationComment.go
  back/src/restapi/managers/interval.go
  back/src/restapi/managers/intervalComment.go
  back/src/restapi/models/intervalComment.go
  back/src/restapi/utils/test.go
  front/src/fragments/signalAnnotation/FormIntervalSignalAnnotation.tsx
  front/src/utils/api.ts
  front/src/utils/index.ts
  front/src/utils/objects.ts
Labels: Back, Front

#267 212 cancel annotation
  back/src/restapi/managers/annotation.go
  front/src/App.tsx
  front/src/pages/Dashboard.tsx
  front/src/utils/api.ts
  front/src/utils/index.ts
  front/src/utils/objects.ts
Labels: Back, Fix, Front

#282 json format
  back/src/restapi/models/tag.go
Labels: Back
